In [20]:
import pandas as pd

In [21]:
dfamz = pd.read_csv(r'Datasets\amazon_prime_titles-score.csv')
dfdsy = pd.read_csv(r'Datasets\disney_plus_titles-score.csv')
dfhu = pd.read_csv(r'Datasets\hulu_titles-score (2).csv')
dfnfx = pd.read_csv(r'Datasets\netflix_titles-score.csv')

In [22]:
print(dfamz.shape)
dfamz.head()

(9668, 13)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75

In [23]:
dfamz["id"] = 'a' + dfamz.show_id

In [24]:
dfamz.rating.isnull().sum() #cantidad de nulos

337

In [25]:
dfamz.rating.fillna('G', inplace=True)

In [26]:
dfamz["date_added"] = pd.to_datetime(dfamz.date_added)

In [27]:
dfamz[dfamz.select_dtypes(include = ['object']).columns] = dfamz[dfamz.select_dtypes(include = ['object']).columns].apply(lambda x: x.str.lower(), axis=1) #se reemplazan las columnas

In [28]:
dfamz["duration_int"] = dfamz.duration.str.split(pat = " ", n = 1, expand = True).loc[:,0]
dfamz["duration_type"] = dfamz.duration.str.split(pat = " ", n = 1, expand = True).loc[:,1]

In [29]:
print(dfdsy.shape)
dfdsy.head()

(1450, 13)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,100
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,17
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,92
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",35
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,11

In [30]:
dfdsy["id"] = 'd' + dfdsy.show_id

In [31]:
dfdsy.rating.fillna('G', inplace=True)

In [32]:
dfdsy["date_added"] = pd.to_datetime(dfdsy.date_added)

In [33]:
dfdsy[dfdsy.select_dtypes(include = ['object']).columns] = dfdsy[dfdsy.select_dtypes(include = ['object']).columns].apply(lambda x: x.str.lower(), axis=1) #se reemplazan las columnas

In [34]:
dfdsy["duration_int"] = dfdsy.duration.str.split(pat = " ", n = 1, expand = True).loc[:,0]
dfdsy["duration_type"] = dfdsy.duration.str.split(pat = " ", n = 1, expand = True).loc[:,1]

In [35]:
print(dfhu.shape)
dfhu.head()

(3073, 13)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,48
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",8
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,8
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,33
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,24

In [36]:
dfhu["id"] = 'h' + dfhu.show_id

In [37]:
dfhu.rating.fillna('G', inplace=True)

In [38]:
dfhu["date_added"] = pd.to_datetime(dfhu.date_added)

In [39]:
dfhu[dfhu.select_dtypes(include = ['object']).columns] = dfhu[dfhu.select_dtypes(include = ['object']).columns].apply(lambda x: x.str.lower(), axis=1) #se reemplazan las columnas

In [40]:
dfhu["duration_int"] = dfhu.duration.str.split(pat = " ", n = 1, expand = True).loc[:,0]
dfhu["duration_type"] = dfhu.duration.str.split(pat = " ", n = 1, expand = True).loc[:,1]

In [41]:
print(dfnfx.shape)
dfnfx.head()

(8807, 13)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",29
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",86
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,75
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",49
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,92

In [42]:
dfnfx["id"] = 'n' + dfnfx.show_id

In [43]:
dfamz.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'score', 'id', 'duration_int', 'duration_type'],
      dtype='object')

In [44]:
dfnfx.rating.fillna('G', inplace=True)

In [45]:
dfnfx["date_added"] = pd.to_datetime(dfnfx.date_added)

In [46]:
dfnfx[dfnfx.select_dtypes(include = ['object']).columns] = dfnfx[dfnfx.select_dtypes(include = ['object']).columns].apply(lambda x: x.str.lower(), axis=1) #se reemplazan las columnas

In [47]:
dfnfx["duration_int"] = dfnfx.duration.str.split(pat = " ", n = 1, expand = True).loc[:,0]
dfnfx["duration_type"] = dfnfx.duration.str.split(pat = " ", n = 1, expand = True).loc[:,1]

In [50]:
dfnfx.title.str.contains(pat="water").sum()

21

In [52]:
dfamz.to_csv(r'Datasets\amazon_prime_titles-score-mod.csv')
dfdsy.to_csv(r'Datasets\disney_plus_titles-score-mod.csv')
dfhu.to_csv(r'Datasets\hulu_titles-score (2)-mod.csv')
dfnfx.to_csv(r'Datasets\netflix_titles-score-mod.csv')